h1{
 	font-family:cursive, times, serif;
	font-size: 200px;
}

body{
	min-height: 10%;
	width: 750px;
	padding: 0 10px;
	margin: 350px;
	position: relative;
	background-color: #DDEDEE;
}

p1{
	color: blue;
}


