h3{
 color: blue;
 font-size: 150px;
 width: 200px;
    height:200px;
    background-color: #169098;
    margin: 0px auto;
}

p{
  color: blue;
}
  body{
    width: 200px;
    height:200px;
    background-color: #169098;
    margin: 0 auto;
     
}

