h1{
 	font-family:cursive, times, serif;
	font-size: 20px;
}

body{
	min-height: 10%;
	width: 750px;
	padding: 0 10px;
	margin: auto;
	position: relative;
	background-color: #DDEDEE;
	text-align=center;
}

p1{
	color: blue;
}


