
body {
	min-height: 100%;
	width: 750px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}
div#center {
	padding-bottom: 50px; 
}
div#footer {
	position: absolute;
	width: 750px;
	bottom: 0;
	left: 10px;
}
